* {
  margin: auto;
}

body {
  background-color: darkslategray;
  background-size: 100%;
}

.brown-sugar {
  color: brown;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 50px;
}

#table-yuk {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 100px;
  background-color: aqua;
  padding: 20px;
}

#box-head {
  margin: 10px;
  width: 900px;
  background-color: #ffffff;
  padding: 20px;
  display: block;
}

#box-body {
  margin: 10px;
  width: 950px;
  background-color: #ffffff;
  padding: 20px;
  display: block;
}

.box {
  width: 400px;
  background-color: aquamarine;
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  padding: 30px;
}

p::first-letter {
  font-size: xx-large;
}

div a:hover {
  text-decoration: none;
  color: black;
}

div a {
  color: red;
}
