.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  background-color: #333;
  border-radius: 50%;
  text-align: right;
  line-height: 35px;
  color: #fff;
}

.social-links a:hover {
  background-color: white;
}
